.divCard {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.divInput{
    display: flex;
}

.header {
    display: flex;
    justify-content: center;
}

.inputInfo {
    margin-top: 1 rem;
}