//@import 'themes';

//@import '~@nebular/theme/styles/globals';

//@include nb-install() {
//  @include nb-theme-global();
//};
/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Nunito Sans', sans-serif !important;
}
html, body { height: 100%; background-color: rgb(213, 217, 225);}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgb(213, 217, 225); }
